*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, SF Pro Display Regular, BlinkMacSystemFont, sans-serif;
}

/* <====variables====> */

:root {

  /* sizes  */
  --main-font: 18px;
  --font-h1: 36px;
  --font-h2: 28px;
  --font-h3: 24px;
  --font-h4: 20px;
  --font-h5: 18px;
  --font-h6: 16px;

/* color  */
  --main-color: black;
  --secondary-color:white;
  --main-bg: #08A652;
  --second-grey-bg:#62696C;
  --second-green-font: green;

  /* font  */

  --semibold:SF Pro Display Semibold;

}


/* <====classes====> */

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}