*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, SF Pro Display Regular, BlinkMacSystemFont, sans-serif;
}

/* <====variables====> */


/* <====classes====> */

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}